@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .resume-content {
        & section:not(:last-of-type) {
            @apply mb-2;

            & div {

                & ul {
                    @apply list-disc list-inside;

                    & li {
                        @apply text-base mb-0;
                    }

                    & li:first-of-type {
                        @apply mt-0;
                    }
                }
            }

            & h1 {
                @apply
                    text-xl
                    sm:text-3xl
                    lg:text-5xl
                    mb-2
                    font-bold
                ;
            }

            & h2 {
                @apply
                    text-xl
                    sm:text-2xl
                    lg:text-3xl
                    font-bold
                    uppercase
                ;
            }
        }
    }

    h3 {
        @apply text-base sm:text-lg;
    }

    .print-section-header {
        @apply text-xl font-bold uppercase;
    }

    .non-print-header {
        @apply font-bold text-lg md:text-xl;
    }

    .sub-header {
        @apply font-semibold text-base sm:text-lg;
    }

    .icon-div {
        @apply pr-2 inline-block;
    }

    .skillCategory {
        @apply text-base mb-0;
    }
}