@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/*@custom-variant dark (&:where(.dark, .dark *));*/

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none;
        transition: none;
    }
}

@layer components {
    .displayModeTransition {
        transition: ease-in-out;
        transition-duration: 0.2s;
    }

    .page-main {
        @apply p-6 min-h-screen bg-neutral-100;
        transition: ease-in-out;
        transition-duration: 0.2s;
    }

    .page-light {
        @apply bg-neutral-100;
        background-color: "#F5F5F5";
    }

    .page-dark {
        @apply bg-neutral-950;
        background-color: "#121212";
    }

    .main-header {
        @apply text-gray-950 mb-4 md:mb-8 text-2xl sm:text-4xl md:text-5xl xl:text-6xl font-bold text-center;
    }
    .main-caption {
        @apply text-base mb-8 text-center mx-auto w-full sm:w-xl bg-neutral-50 border border-solid rounded-sm shadow-sm p-4;
    }


    .secondary-header {
        @apply text-gray-950 mb-4 text-xl sm:text-3xl md:text-4xl xl:text-5xl text-center font-semibold;
        transition: ease-in-out;
        transition-duration: 0.2s;
    }

    .general-link {
        @apply underline text-blue-500 transition ease-in-out;
    }
    .general-link:hover {
        @apply no-underline text-blue-600;
    }

    .area-border {
        @apply border /*border-neutral-300*/ border-solid;
    }
}

/* Modal CSS */
@media (width > 991px) {
    .modalBody {
        max-height: 70vh;
    }
}

@media (width > 768px) and (width <= 991px) {
    .modalBody {
        max-height: 65vh;
    }
}

@media (width > 600px) and (width <= 768px) {
    .modalBody {
        max-height: 55vh;
    }
}

@media (width <= 600px) {
    .modalBody {
        max-height: 50vh;
    }
}

/* React-to-print CSS */
.printContent {
    display: none;

    @media print {
        display: block;

        html, body {
            height: 100%;
            margin: 0 !important;
            padding: 0 !important;
            overflow: hidden;
        }
    }
}